#about{
    /* background-color: #FDFDFD; */
    height: auto;
    text-align: center;
    padding: 80px 0;
}

.conf-about{
    max-width: 767px;
    width: 90%;
    margin: auto;
    display: flex;
    text-align: left;
    padding-bottom: 25px;
}
.aboutme p,
.aboutme h2{
    margin-top: 15px;
}
.emphasis{
  font-weight: bold;
}
.btn-contact{
    max-width: 250px;
    width: 100%;
    height: 40px;
    background-color: var(--color-background-green);
    color: #fff;
    border-radius: 8px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1); 
    }
    100% {
      transform: scale(1);
    }
  }
.btn-contact:hover{
    font-weight: bold;
}
.img-aboutme{
    display: none;
}
.img-aboutme img{
    border-radius: 30px;
}
.link{
    background-color: var(--color-background-green);
    padding: 3px;
    border-radius: 5px;
}


  @media (min-width: 768px) and (max-width: 1023px) {
    .conf-about{
        max-width: 1000px;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
    .img-aboutme{
        display: block;
    }
    .aboutme p{
    margin-top: 8px;
    }
    .btn-contact{
        width: 450px;
        height: 50px;
        margin: 25px 50px;
    }
  }
  @media (min-width: 1024px){
    .conf-about{
        padding-top: 20px;
        max-width: 1400px;
        gap: 20px;
        align-items: center
    }
    .img-aboutme{
        display: block;
    }
    .aboutme p{
    margin-top: 10px;
    }
    .btn-contact{
        width: 450px;
        height: 50px;
        margin: 25px 50px;
    }
  }
