#contact{
    width: 100%;
    padding: 80px 0;
}

.contactme{
    max-width: 766px;
    width: 95%;
    margin: auto;
}
.contactme h2{
    padding-left: 8px;
}
.grid-form{
    margin: auto;
}
.first-contact{
    padding: 40px 0 20px;
}
.third-contact{
    padding: 20px 0;
}

form{
    font-size: 1em;
    padding-top: 30px;
    max-width: 320px;
    width: 90%;
    box-sizing: border-box;
    margin: auto;
}
input,
textarea{
    display: block;
    width: 320px;
    max-width: 95%;
    border-radius: 8px;
    font-size: 16px;
    font-family: var(--font-body) !important;
    border: 1px solid var(--color-background-green);
    font-family: inherit;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin: 18px 0;
}
input{
    height: 45px;
}
textarea{
    height: 90px;
}
input:focus,
textarea:focus{
    outline: var(--color-background-green);
    border: 2px solid var(--color-background-green);
}
input::placeholder,
textarea::placeholder{
    color: var(--color-background-black);
    background-color: var(--color-font-white);
    padding: 10px 0 0 18px;
    height: 100%;
}
.custom-input{
    position: relative;
}
.icon-error{
    position: absolute;
    top: 10px;
    right: 44px;
    display: none;
}
.alert-error{
    text-align: right;
    width: 320px;
    font-size: 12px;
    color: var(--color-intermedio);
    display: none;
}
.submit{
    font-family:  "Fira Code", monospace;
    font-size: 1em;
    width: 320px;
    max-width: 95%;
    height: 40px;
    background-color: var(--color-background-green);
    color: #fff;
    border-radius: 8px;
    border: 0;
    margin-top: 20px;
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0% {
      transform: scale(.9);
    }
    50% {
      transform: scale(1); 
    }
    100% {
      transform: scale(.9);
    }
}
.submit:focus{
    outline: var(--color-background-green);
    border: 2px solid var(--color-background-green);
}
.submit:hover{
    font-weight: bold;
}
#my-form-status{
    padding: 20px 0;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.yes{
    margin-right: 6px;
    display: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .contactme{
        max-width: 1023px;
        padding: 0;
    }
    .grid-form{
        max-width: 1023px;
        display: grid;
        grid-template-columns: repeat(2, minmax(350px, 1fr));
        gap: 20px;
        padding: 0;
    }
    .descripted-contact{
        padding: 30px;
    }
    form{
        width: 350px;
        margin: auto;
        max-width: 95%;
        padding: 70px 0 0;
    }
    input,
    textarea,
    .alert-error,
    .submit{
        width: 350px;
        max-width: 100%;
    }
    textarea{
        margin-left: 0;
    }
}
@media (min-width: 1024px){
    .contactme{
        max-width: 1400px;
    }
    .grid-form{
        max-width: 1400px;
        display: grid;
        grid-template-columns: repeat(2, minmax(480px, 1fr));
        gap: 10px;
        padding: 0;
    }
    .descripted-contact{
        padding: 10px 50px 0;
        line-height: 2;
    }
    form{
        width: 480px;
        max-width: 95%;
        margin: auto;
        padding-top: 50px;
    }
    input,
    textarea,
    .alert-error,
    .submit{
        width: 480px;
        max-width: 95%;

    }
    textarea{
        margin-left: 0;
    }
}