.presentation{
  margin: auto;
  background-color: #090300;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}

.animation-article{
  width: 370px;
  height: 420px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.presentation-main{
  text-align: center;
  margin-top: 30px;
}
.presentation-main p{
  /* margin-bottom: 20px; */
  /* font-weight: bold; */
  color: #fff;
  text-align: center;
  margin: 30px auto;
}
.typewrite {
  font-family: var(--font-title) !important;
  border-right: 4px solid;
  text-align: center;
  width: 19ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(19) forwards, blinking 0.5s 3s infinite alternate; /* Adiciona a animação de piscar */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 19ch; /* Largura máxima */
  }
}

@keyframes blinking {
  50% {
    border-color: transparent;
  }
}


.presentation-main h1{
  font-size: 2.1rem;
  color: #fff;
}
.presentation-main button{
  width: 250px;
  height: 50px;
  background-color: #734434;
  color: #fff;
  letter-spacing: 1.5px;
  border-radius: 15px;
}
.presentation-main button:hover{
  font-weight: bold;
}

/* animations */
.animation-article{
  transition: all 0.75s ease-out;
-webkit-transform-style: preserve-3d;
transform-style: preserve-3d;
backface-visibility: hidden;
}

@media(min-width: 768px) and (max-width:1023px){
  .animation-article{
      width: 760px;
      height: 580px;
  }
  .presentation-main{ margin-top: 5px;}
  .presentation-main h1{font-size: 2.8rem}
}
@media(min-width: 1024px){
  .animation-article{
      width: 1000px;
      height: 580px;
  }
  .presentation-main{
      margin-top: 0px;
  }
  .presentation-main h1{font-size: 2.8rem}
}