#projects{
    height: auto;
    text-align: center;
    padding: 80px 0;
    transition: all 0.5s ease;
  }
  
  .projects-container{
    width: 90%;
    margin: auto;
  }
  .projects-container h2{
    text-align: left;
    padding-bottom: 40px;
  }

.card-container{
  padding-block: 5rem;
}

.card-content{
    margin-inline: 1.75rem;
    border-radius: 1.25rem;
    overflow: hidden;
}

.card-article{
    width: 300px;
    border-radius: 1.25rem;
    overflow: hidden;
    background-color: var(--color-background-presentation);
}
.card-title{
    font-size: 1.2rem;
    padding: 10px 10px 0 10px;
    color: #B38850;
    /* color: var(--color-intermedio); */
}

.card-img{
    width: 100%;
    height: 250px;
    /* height: auto; */
    margin: 0 auto;
    z-index: 5;
  }

.card-description{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 80px;
    margin: auto;
}
.card-description li{
  font-size: 1.1rem;
  color: var(--color-intermedio)
}

.card-btn-view{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}
.card-btn-view button{
    background-color: inherit;
    border-radius: 8px;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    transform: scale(.9);
}
.card-btn-view button img{
    width: 32px;
    height: 32px;
}
.card-btn-view button:hover{
  transform: scale(1);
}

/* Swiper class */
.swiper-button-prev::after,
.swiper-button-next::after{
  content: '';
}

.swiper-button-next,
.swiper-button-prev{
  width: initial;
  height: inital;
  font-size: 3rem;
  color: var(--color-intermedio);
  display: none;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
  color: var(--color-background-green);
}

.swiper-button-prev{
  left: 0;
}
.swiper-button-next{
  right: 0;
}

.swiper-pagination-bullet{
  background-color: var(--color-intermedio);
  opacity: 1;
  width: 30px;
  height: 30px;
}
.swiper-pagination-bullet-active{
  background-color: var(--color-background-green);
}


/*=============== BREAKPOINTS ===============*/
@media screen and (min-width: 768px){
  .card-content{
    margin-inline: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev{
    display: block;
  }
  .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
  }
}

/* For large devices */
@media screen and (min-width: 1024px){
    .projects-container{
        max-width: 1400px;
    }
    .card-container{
        max-width: 1400px;
   }

  .swiper-button-next{
    right: -1rem;
  }
  .swiper-button-prev{
    left: -1rem;
  }
  .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
  }
}