#skills{
    background-color: #F2F2F2;
    box-sizing: border-box;
    padding: 80px 0;
}

.skills{ 
    max-width: 350px;
    width: 100%;
    margin: auto;
}
.skills h2{
    padding-bottom: 20px;
}
.skills-name{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.skills-name p{
    background-color: #B8B8BF;
    border-radius: 15px;
    padding: 10px 25px;
}


@media (min-width: 768px) and (max-width: 1023px) {
    .skills{
        max-width: 750px;
    }
}
@media (min-width: 1024px){
    .skills{
        max-width: 950px;
    }
}
